<!DOCTYPE html>
<html>
<head>
  <title>HairSalon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica:400italic' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<%= render partial: 'layouts/navbar' %>
<%= yield %>

<% if alert %>
  <p class="text-center flash alert"><%= alert %></p>
<% end %>
<% if notice %>
  <p class="text-center flash notice"><%= notice %></p>
<% end %>

</body>
</html>
